body{
	width:100%;
	height:auto;
}
#link{
	
}
#link:hover{
	background-color: #ABFFFF;
	font-weight: bolder;
	color:#000;
}
form{
	margin-top:15px;
	margin-left:28%;
}

h4{
	font-size:"30px";
	color:#000;
	font-family:Roboto;
	font-weight:bolder;
	text-decoration:underline;
	text-align:center;
	padding:10px;
}
#bg{
	background-color:rgba(10,19,88,0.6);
    width:10px;
}
#bgtd{
	background-color:rgba(20,20,20,0.1);
	text-align:center;
	font-family:Times new romain;
}
input[type="checkbox"]{
	width:20px;
	position:relative;
	left:10px;
}
#bgtd:hover{
	color:#FFF;
	background-color:#000;
}
#calign{
	text-align:center;
    
}
